.masonry-item {
  img {
    margin: 10px;
    width: 300px;
    height: 200px;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 500px) {
  .masonry-item {
    img {
      width: 450px;
      height: 300px;
    }
  }
}

// .masonry-img {
//   margin: 10px;
//   width: 325px;
//   height: 245px;
//   border-radius: 3px;
// }
